name: format code

on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install dependencies
        run: |
          npm install
          npm install --save-dev prettier
      - name: format code
        run: npx prettier --write .
      - name: push formatted code
        run: |
          git config --global user.email "maxshen1212@gmail.com"
          git config --global user.name "Chih-Han Shen"
          git add .
          git commit -m "Apply Prettier formatting"
          git push
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}