name: format code

on:
  push:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install dependencies
        run: |
          npm install
          npm install --save-dev prettier
      - name: format code
        run: npx prettier --write .
      - name: push formatted code
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Apply Prettier formatting"
          git push
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}